In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\Project\DataSpark\Customers.csv", encoding='ISO-8859-1') #file to read using encoding

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [7]:
date_formats = ['%d-%m-%Y', '%m/%d/%Y','%d/%m%Y','%m-%d-%Y']

def parse_dates(date_str):
    for fmt in date_formats:
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT

# Apply the parsing function to the 'date' column
df['Birthday'] = df['Birthday'].apply(parse_dates)

# Convert to the desired format
df['Birthday'] = df['Birthday'].dt.strftime('%d-%m-%Y')

In [9]:
# Replace NA values with 'NAP' in 'state code' column
df['State Code'] = df['State Code'].fillna('NAP')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [13]:
# Save the cleaned dataset to a new CSV file
Output_path = "D:\Project\DataSpark\Cleaned_Customers.csv"
df.to_csv(Output_path, index=False)

In [15]:
df = pd.read_csv("D:\Project\DataSpark\Products.csv", encoding='ISO-8859-1')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [19]:
# Remove dollar sign, commas, and strip any trailing or leading spaces
df['Unit Cost USD'] = df['Unit Cost USD'].str.replace('$', '').str.replace(',', '').str.strip()
df['Unit Price USD'] = df['Unit Price USD'].str.replace('$', '').str.replace(',', '').str.strip()

# Convert the cleaned strings to floats
df['Unit Cost USD'] = df['Unit Cost USD'].astype(float)
df['Unit Price USD'] = df['Unit Price USD'].astype(float)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [23]:
# Save the cleaned dataset to a new CSV file
Output_path = "D:\Project\DataSpark\Cleaned_Products.csv"
df.to_csv(Output_path, index=False)

In [25]:
df = pd.read_csv("D:\Project\DataSpark\Sales.csv", encoding='ISO-8859-1')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

In [29]:
date_formats = ['%d-%m-%Y', '%m/%d/%Y',]

def parse_dates(date_str):
    for fmt in date_formats:
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT

# Apply the parsing function to the 'date' column
df['Order Date'] = df['Order Date'].apply(parse_dates)
df['Delivery Date'] = df['Delivery Date'].apply(parse_dates)

# Convert to the desired format
df['Order Date'] = df['Order Date'].dt.strftime('%d-%m-%Y')
df['Delivery Date'] = df['Delivery Date'].dt.strftime('%d-%m-%Y')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

In [33]:
df.dropna(subset=['Delivery Date'], inplace=True)
df.isnull().sum()

Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [35]:
df.shape

(13165, 9)

In [37]:
pd.set_option("display.max_rows", None)

In [41]:
# Convert the dates to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d-%m-%Y')
df['Delivery Date'] = pd.to_datetime(df['Delivery Date'], format='%d-%m-%Y')

In [43]:
# Filter out rows where Delivery_Date is earlier than Order_Date
df = df[df['Delivery Date'] >= df['Order Date']]

In [45]:
df.shape

(13165, 9)

In [47]:
# Save the cleaned dataset to a new CSV file
Output_path = "D:\Project\DataSpark\Cleaned_Sales.csv"
df.to_csv(Output_path, index=False)

In [49]:
df = pd.read_csv("D:\Project\DataSpark\Stores.csv", encoding='ISO-8859-1')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [53]:
date_formats = ['%d-%m-%Y', '%m/%d/%Y'] #date format available in my file

def parse_dates(date_str): 
    for fmt in date_formats:
        try:
            return pd.to_datetime(date_str, format=fmt) 
        except ValueError:
            continue
    return pd.NaT #print not a time

# Apply the parsing function to the 'date' column
df['Open Date'] = df['Open Date'].apply(parse_dates)

# Convert to the desired format
df['Open Date'] = df['Open Date'].dt.strftime('%d-%m-%Y')

In [55]:
# Fill missing values in 'Square Meters' with 0
df['Square Meters'].fillna(0, inplace=True)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [59]:
# Save the cleaned dataset to a new CSV file
Output_path = "D:\Project\DataSpark\Cleaned_Stores.csv"
df.to_csv(Output_path, index=False)

In [61]:
# Read the CSV file with the specified encoding
df = pd.read_csv("D:\Project\DataSpark\Exchange_Rates.csv", encoding='ISO-8859-1')

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [65]:
date_formats = ['%d-%m-%Y', '%m/%d/%Y'] #date format available in my file

def parse_dates(date_str): 
    for fmt in date_formats:
        try:
            return pd.to_datetime(date_str, format=fmt) 
        except ValueError:
            continue
    return pd.NaT #print not a time

# Apply the parsing function to the 'date' column
df['Date'] = df['Date'].apply(parse_dates)

# Convert to the desired format
df['Date'] = df['Date'].dt.strftime('%d-%m-%Y')

In [67]:
# Save the cleaned dataset to a new CSV file
Output_path = "D:\Project\DataSpark\Cleaned_Exchange_Rates.csv"
df.to_csv(Output_path, index=False)

In [68]:
import pandas as pd

In [5]:
df = pd.read_csv("D:\Project\DataSpark\Cleaned_Customers.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [9]:
df1 = pd.read_csv("D:\Project\DataSpark\Cleaned_Products.csv")

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [13]:
df2 = pd.read_csv("D:\Project\DataSpark\Cleaned_Sales.csv")

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   13165 non-null  int64
 1   Line Item      13165 non-null  int64
 2   Order Date     13165 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    13165 non-null  int64
 5   StoreKey       13165 non-null  int64
 6   ProductKey     13165 non-null  int64
 7   Quantity       13165 non-null  int64
 8   Currency Code  13165 non-null  object
dtypes: int64(6), object(3)
memory usage: 925.8+ KB

In [17]:
df3 = pd.read_csv("D:\Project\DataSpark\Cleaned_Stores.csv")

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [21]:
df4 = pd.read_csv("D:\Project\DataSpark\Cleaned_Exchange_Rates.csv")

In [23]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [41]:
print("Order Date dtype in df2:", df2['Order Date'].dtype)
print("Date dtype in df4:", df4['Date'].dtype)

Order Date dtype in df2: object
Date dtype in df4: object

In [43]:
df2['Order Date'] = pd.to_datetime(df2['Order Date'], errors='coerce')  # Convert to datetime
df4['Date'] = pd.to_datetime(df4['Date'], errors='coerce')  # Convert to datetime

In [45]:
# Merge df and df2
merged_df = pd.merge(df, df2, on='CustomerKey', how='inner')
print("After merging df and df2:", merged_df.shape)

# Merge with df1
if not merged_df.empty:
    merged_df = pd.merge(merged_df, df1, on='ProductKey', how='inner')
    print("After merging with df1:", merged_df.shape)

# Merge with df3
if not merged_df.empty:
    merged_df = pd.merge(merged_df, df3, on='StoreKey', how='inner')
    print("After merging with df3:", merged_df.shape)

# Merge with df4
if not merged_df.empty:
    merged_df = pd.merge(merged_df, df4, left_on='Order Date', right_on='Date', how='inner')
    print("After merging with df4:", merged_df.shape)

After merging df and df2: (13165, 18)
After merging with df1: (13165, 27)
After merging with df3: (13165, 31)
After merging with df4: (25370, 34)

In [47]:
merged_df.head()

,CustomerKey,Gender,Name,City,State Code,State_x,Zip Code,Country_x,Continent,Birthday,...,Subcategory,CategoryKey,Category,Country_y,State_y,Square Meters,Open Date,Date,Currency,Exchange
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,03-07-1939,...,Recording Pen,1,Audio,Online,Online,0.0,01-01-2010,2019-11-11,USD,1.0000
1,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,03-07-1939,...,Recording Pen,1,Audio,Online,Online,0.0,01-01-2010,2019-11-11,CAD,1.3230
2,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,03-07-1939,...,Recording Pen,1,Audio,Online,Online,0.0,01-01-2010,2019-11-11,AUD,1.4587
3,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,03-07-1939,...,Recording Pen,1,Audio,Online,Online,0.0,01-01-2010,2019-11-11,EUR,0.9057
4,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,03-07-1939,...,Recording Pen,1,Audio,Online,Online,0.0,01-01-2010,2019-11-11,GBP,0.7766

In [49]:
merged_df.columns

Index(['CustomerKey', 'Gender', 'Name', 'City', 'State Code', 'State_x',
       'Zip Code', 'Country_x', 'Continent', 'Birthday', 'Order Number',
       'Line Item', 'Order Date', 'Delivery Date', 'StoreKey', 'ProductKey',
       'Quantity', 'Currency Code', 'Product Name', 'Brand', 'Color',
       'Unit Cost USD', 'Unit Price USD', 'SubcategoryKey', 'Subcategory',
       'CategoryKey', 'Category', 'Country_y', 'State_y', 'Square Meters',
       'Open Date', 'Date', 'Currency', 'Exchange'],
      dtype='object')

In [53]:
pd.set_option("display.max_rows", None)

In [59]:
merged_df.drop(columns=['State_y', 'Country_y', 'Date'], inplace=True)

In [70]:
merged_df.rename(columns={'State_x': 'State', 'Country_x': 'Country'}, inplace=True)

In [72]:
merged_df.columns

Index(['CustomerKey', 'Gender', 'Name', 'City', 'State Code', 'State',
       'Zip Code', 'Country', 'Continent', 'Birthday', 'Order Number',
       'Line Item', 'Order Date', 'Delivery Date', 'StoreKey', 'ProductKey',
       'Quantity', 'Currency Code', 'Product Name', 'Brand', 'Color',
       'Unit Cost USD', 'Unit Price USD', 'SubcategoryKey', 'Subcategory',
       'CategoryKey', 'Category', 'Square Meters', 'Open Date', 'Currency',
       'Exchange'],
      dtype='object')

In [74]:
# Save the cleaned dataset to a new CSV file
Output_path = "D:\Project\DataSpark\Data_Spark.csv"
merged_df.to_csv(Output_path, index=False)

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\Project\DataSpark\Data_Spark.csv")

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25370 entries, 0 to 25369
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     25370 non-null  int64
 1   Gender          25370 non-null  object
 2   Name            25370 non-null  object
 3   City            25370 non-null  object
 4   State Code      25370 non-null  object
 5   State           25370 non-null  object
 6   Zip Code        25370 non-null  object
 7   Country         25370 non-null  object
 8   Continent       25370 non-null  object
 9   Birthday        25370 non-null  object
 10  Order Number    25370 non-null  int64
 11  Line Item       25370 non-null  int64
 12  Order Date      25370 non-null  object
 13  Delivery Date   25370 non-null  object
 14  StoreKey        25370 non-null  int64
 15  ProductKey      25370 non-null  int64
 16  Quantity        25370 non-null  int64
 17  Currency Code   25370 non-null  object
 18  Product Name    25370 non-null  object
 19  Brand           25370 non-null  object
 20  Color           25370 non-null  object
 21  Unit Cost USD   25370 non-null  float64
 22  Unit Price USD  25370 non-null  float64
 23  SubcategoryKey  25370 non-null  int64
 24  Subcategory     25370 non-null  object
 25  CategoryKey     25370 non-null  int64
 26  Category        25370 non-null  object
 27  Square Meters   25370 non-null  float64
 28  Open Date       25370 non-null  object
 29  Currency        25370 non-null  object
 30  Exchange        25370 non-null  float64
dtypes: float64(4), int64(8), object(19)
memory usage: 6.0+ MB

In [5]:
df.columns

Index(['CustomerKey', 'Gender', 'Name', 'City', 'State Code', 'State',
       'Zip Code', 'Country', 'Continent', 'Birthday', 'Order Number',
       'Line Item', 'Order Date', 'Delivery Date', 'StoreKey', 'ProductKey',
       'Quantity', 'Currency Code', 'Product Name', 'Brand', 'Color',
       'Unit Cost USD', 'Unit Price USD', 'SubcategoryKey', 'Subcategory',
       'CategoryKey', 'Category', 'Square Meters', 'Open Date', 'Currency',
       'Exchange'],
      dtype='object')

In [13]:
pd.set_option("display.max_columns", None)

In [15]:
df.head(1)

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday,Order Number,Line Item,Order Date,Delivery Date,StoreKey,ProductKey,Quantity,Currency Code,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Square Meters,Open Date,Currency,Exchange
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,03-07-1939,1776007,1,2019-11-11,2019-11-13,0,53,2,AUD,WWI 4GB Video Recording Pen X200 Black,Wide World Importers,Black,98.07,296.0,104,Recording Pen,1,Audio,0.0,01-01-2010,USD,1.0

In [80]:
import pymysql
import pandas as pd

# Connect to MySQL
myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='password', database="project")

# Load CSV data
df = pd.read_csv("D:\Project\DataSpark\Data_Spark.csv")
df = df.dropna()  # Drop null values

# Replace data types from pandas to MySQL
a = ",".join(f"`{i}` {j}" for i, j in zip(df.columns, df.dtypes)).replace("float64", "FLOAT").replace("object", "TEXT").replace("int64", "INT")
# Use a valid table name
table_name = "Data Spark"

# Create the table
create_table_query = f"CREATE TABLE `{table_name}` ({a})"
with myconnection.cursor() as cursor:
    cursor.execute(create_table_query)

# Insert data into the table
for i in range(len(df)):
    insert_query = f"INSERT INTO `{table_name}` VALUES {tuple(df.iloc[i])}"
    with myconnection.cursor() as cursor:
        cursor.execute(insert_query)
    myconnection.commit()

myconnection.close()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25370 entries, 0 to 25369
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     25370 non-null  int64
 1   Gender          25370 non-null  object
 2   Name            25370 non-null  object
 3   City            25370 non-null  object
 4   State Code      25370 non-null  object
 5   State           25370 non-null  object
 6   Zip Code        25370 non-null  object
 7   Country         25370 non-null  object
 8   Continent       25370 non-null  object
 9   Birthday        25370 non-null  object
 10  Order Number    25370 non-null  int64
 11  Line Item       25370 non-null  int64
 12  Order Date      25370 non-null  object
 13  Delivery Date   25370 non-null  object
 14  StoreKey        25370 non-null  int64
 15  ProductKey      25370 non-null  int64
 16  Quantity        25370 non-null  int64
 17  Currency Code   25370 non-null  object
 18  Product Name    25370 non-null  object
 19  Brand           25370 non-null  object
 20  Color           25370 non-null  object
 21  Unit Cost USD   25370 non-null  float64
 22  Unit Price USD  25370 non-null  float64
 23  SubcategoryKey  25370 non-null  int64
 24  Subcategory     25370 non-null  object
 25  CategoryKey     25370 non-null  int64
 26  Category        25370 non-null  object
 27  Square Meters   25370 non-null  float64
 28  Open Date       25370 non-null  object
 29  Currency        25370 non-null  object
 30  Exchange        25370 non-null  float64
dtypes: float64(4), int64(8), object(19)
memory usage: 6.0+ MB